html {
  box-sizing: border-box;
  background-color: #f5f2f0;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  padding: 1rem;
}

h1 {
  font-family: "Denk One";
  color: #623b0c;
  margin: 0 0 1.5rem;
}

h2 {
  font-family: "Denk One";
  color: #623b0c;
  margin: 0 0 1.5rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

ol li {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  margin: 0 0 auto;
}

img {
  width: 100%;
  margin-bottom: 1.5rem;
}

a {
  font-family: georgia;
  color: #fff;
  background-color: #623b0c;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 1.5rem;
  padding: .5em .75em .6em;
}

a:hover {
  background-color: #623b0c;
}
